@font-face {
  font-family: 'etchASketch';
  src:url("../fonts/etchasketch.ttf");
}

:root {
	--row-size: 1;
	--col-size: 1;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover{
  text-decoration: underline;
}

html {
  background-color: #fde7f9;
  background: linear-gradient(315deg, #fde7f9 0%, #aacaef 74%);
  background-attachment: fixed;
  font-family: 'etchASketch';
}

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

div {
  display: block;
}

header h1 {
  font-family: 'etchASketch', Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 4vw;
}

.main-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls-flex {
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
  max-width: 100%;
}

.grid-flex {
  display: flex;
  flex: 1;
  justify-content: center;
  margin: 15px;
  max-width: 100%;
}


#grid-container {
  display: grid;
  grid-template-columns: repeat(var(--col-size), minmax(0,1fr));
  grid-template-rows: repeat(var(--row-size), minmax(0,1fr));
  border: 1px solid black; 
  height: 35vw;
  width: 35vw;
}

.cell {
  border: 1px solid rgba(0, 0, 0, 0.05);
  background-color: #fff;
  overflow: hidden;
}  

footer {
  display: flex;
  justify-content: space-between;
  background-color: #f2f2f2;
  align-items: center;
	flex-wrap: wrap;
	padding: 10px 20px;
  margin-top: auto;
  flex-direction: row;
}


footer .left {
	display: flex;
	justify-content: flex-start;
}

footer .right {
	display: flex;
	justify-content: flex-end;
}



/*
@media only screen and (max-width: 900px){
	body {
    flex-direction: row;
  }
}

@media only screen and (max-width: 900px){
	.grid-flex {
		order: 0;
		width: 100%;
		justify-content: center;
		padding: 10px;
	}
}

@media only screen and (max-width: 900px){
	.controls-flex {
		order: 1;
		width: 100%;
		justify-content: center;
		padding: 10px;
	}
}

@media only screen and (max-width: 900px) {
  #grid-container {
    display: grid;
    grid-template-columns: repeat(var(--col-size), minmax(0,1fr));
    grid-template-rows: repeat(var(--row-size), minmax(0,1fr));
    border: 1px solid black; 
    height: 25em;
    width: 25em;
  }
}
*/
